In [1]:
import json

# –ü—É—Ç—å –≤ –∫–æ–Ω—Ç–µ–π–Ω–µ—Ä–µ Jupyter
with open('/home/jovyan/data/raw/space_events_raw.json') as f:
    data = json.load(f)

print(f"–í—Å–µ–≥–æ —Å–æ–±—ã—Ç–∏–π: {len(data['results'])}")
print("\n–ü–µ—Ä–≤—ã–µ 10 —Å–æ–±—ã—Ç–∏—è:")
for event in data['results'][:10]:
    print(f"- {event.get('name')} ({event.get('type', {}).get('name')})")

–í—Å–µ–≥–æ —Å–æ–±—ã—Ç–∏–π: 100

–ü–µ—Ä–≤—ã–µ 10 —Å–æ–±—ã—Ç–∏—è:
- Crew Dragon docking with ISS (Docking)
- Soyuz MS-12 Docking (Docking)
- US EVA-52 (EVA)
- Starship Hopper Wet Dress Rehearsal (Wet Dress Rehearsal)
- Starship Hopper Wet Dress Rehearsal (Wet Dress Rehearsal)
- US EVA-53 (EVA)
- Starship Hopper Wet Dress Rehearsal (Wet Dress Rehearsal)
- Starship Hopper Static Fire (Static Fire)
- Progress MS-11 Docking (Docking)
- Parker Solar Probe - 2nd Perihelion (Spacecraft Event)

In [2]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://etl_user:etl_password@mysql_source:3306/space_sources')
df = pd.read_sql("SHOW TABLES", engine)
print(df)

  Tables_in_space_sources
0        space_categories
1            space_events

In [3]:
# –Ø—á–µ–π–∫–∞ 2: –ò–º–ø–æ—Ä—Ç
import pymysql as MySQLdb
from sqlalchemy import create_engine
import pandas as pd

# –Ø—á–µ–π–∫–∞ 3: –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ MySQL
engine = create_engine(
    'mysql+pymysql://etl_user:etl_password@mysql_source:3306/space_sources'
)

# –Ø—á–µ–π–∫–∞ 4: –ò–∑—É—á–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
dt_tables = pd.read_sql("SHOW TABLES", engine)
print("TABLES IN DATABASE:")
print(df_tables)

ModuleNotFoundError: No module named 'pymysql'

In [40]:
#data = pd.read_sql('SELECT * FROM ya_sample_store.user_payments LIMIT 10', engine) 
data = pd.read_sql('SELECT * from space_sources.space_events limit 10', engine)

In [55]:
import boto3
import requests
import pandas as pd
import json
from datetime import datetime

# 1. –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ MinIO
s3 = boto3.client(
    's3',
    endpoint_url='http://minio:9000',
    aws_access_key_id='minioadmin',
    aws_secret_access_key='minioadmin'
)

bucket_name = 'eventspace'

# 2. –ü–æ–ª—É—á–∏ —Ä–µ–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ SpaceDevs API
API_URL = "https://ll.thespacedevs.com/2.3.0/events/?mode=list&limit=50"
print(f"üì° –ó–∞–≥—Ä—É–∂–∞–µ–º —Ä–µ–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ {API_URL}")

response = requests.get(API_URL, timeout=30)
data = response.json()
events = data.get('results', [])

print(f"‚úÖ –ü–æ–ª—É—á–µ–Ω–æ {len(events)} —Ä–µ–∞–ª—å–Ω—ã—Ö –∫–æ—Å–º–∏—á–µ—Å–∫–∏—Ö —Å–æ–±—ã—Ç–∏–π")

# 3. –ü—Ä–µ–æ–±—Ä–∞–∑—É–π –≤ CSV
records = []
for event in events:
    records.append({
        'event_id': event.get('id'),
        'name': event.get('name', ''),
        'type': event.get('type', {}).get('name', ''),
        'description': str(event.get('description', ''))[:200],
        'location': event.get('location', ''),
        'date': event.get('date'),
        'news_url': event.get('news_url', ''),
        'featured': event.get('featured', False)
    })

df = pd.DataFrame(records)

# 4. –°–æ—Ö—Ä–∞–Ω–∏ –≤ CSV —Å—Ç—Ä–æ–∫—É
csv_data = df.to_csv(index=False)

# 5. –ó–∞–≥—Ä—É–∑–∏ –≤ MinIO
object_key = f'space-events-{datetime.now().strftime("%Y-%m-%d")}.csv'
s3.put_object(
    Bucket=bucket_name,
    Key=object_key,
    Body=csv_data.encode('utf-8'),
    ContentType='text/csv'
)

print(f"‚úÖ –†–µ–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –≤ MinIO: {object_key}")
print(f"   –†–∞–∑–º–µ—Ä: {len(csv_data)} –±–∞–π—Ç")
print(f"   –°–æ–±—ã—Ç–∏–π: {len(df)}")

üì° –ó–∞–≥—Ä—É–∂–∞–µ–º —Ä–µ–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ https://ll.thespacedevs.com/2.3.0/events/?mode=list&limit=50
‚úÖ –ü–æ–ª—É—á–µ–Ω–æ 50 —Ä–µ–∞–ª—å–Ω—ã—Ö –∫–æ—Å–º–∏—á–µ—Å–∫–∏—Ö —Å–æ–±—ã—Ç–∏–π
‚úÖ –†–µ–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –≤ MinIO: space-events-2026-01-10.csv
   –†–∞–∑–º–µ—Ä: 12199 –±–∞–π—Ç
   –°–æ–±—ã—Ç–∏–π: 50

In [ ]:
import requests
try:
    resp = requests.get('http://minio:9000/minio/health/live', timeout=5)
    print(f"MinIO –¥–æ—Å—Ç—É–ø–µ–Ω: {resp.status_code}")
except Exception as e:
    print(f"MinIO –Ω–µ–¥–æ—Å—Ç—É–ø–µ–Ω: {e}")
    print("–°–æ—Ö—Ä–∞–Ω—è–µ–º –¥–∞–Ω–Ω—ã–µ –ª–æ–∫–∞–ª—å–Ω–æ...")

MinIO –¥–æ—Å—Ç—É–ø–µ–Ω: 200

In [67]:
import boto3
import pandas as pd

s3 = boto3.client(
    's3',
    endpoint_url='http://minio:9000',   # S3 API –ø–æ—Ä—Ç
    aws_access_key_id='minioadmin',
    aws_secret_access_key='minioadmin',
    region_name='us-east-1'
)

bucket_name = 'eventspace'

# –ü—Ä–æ–≤–µ—Ä—å –∫–∞–∫–∏–µ —Ñ–∞–π–ª—ã –µ—Å—Ç—å
response = s3.list_objects_v2(Bucket=bucket_name)
print("üìÅ –§–∞–π–ª—ã –≤ MinIO:")
for obj in response.get('Contents', []):
    print(f" - {obj['Key']} ({obj['Size']} bytes)")

# –ï—Å–ª–∏ –µ—Å—Ç—å —Ñ–∞–π–ª, —Å–∫–∞—á–∞–π –ø–µ—Ä–≤—ã–π
if response.get('Contents'):
    object_key = response['Contents'][0]['Key']
    local_path = f'data/raw/{object_key}'
    
    s3.download_file(bucket_name, object_key, local_path)
    df = pd.read_csv(local_path)
    print(f"\n‚úÖ –§–∞–π–ª '{object_key}' —Å–∫–∞—á–∞–Ω, {len(df)} —Å—Ç—Ä–æ–∫")
    print(df.head())
else:
    print("‚ùå –§–∞–π–ª–æ–≤ –Ω–µ—Ç, —Å–æ–∑–¥–∞–π —Å–Ω–∞—á–∞–ª–∞")

üìÅ –§–∞–π–ª—ã –≤ MinIO:
 - space-events-2026-01-10.csv (12216 bytes)

‚úÖ –§–∞–π–ª 'space-events-2026-01-10.csv' —Å–∫–∞—á–∞–Ω, 50 —Å—Ç—Ä–æ–∫
   event_id                                 name                 type  \
0         2         Crew Dragon docking with ISS              Docking
1         3                  Soyuz MS-12 Docking              Docking
2         4                            US EVA-52                  EVA
3       144  Starship Hopper Wet Dress Rehearsal  Wet Dress Rehearsal
4       145  Starship Hopper Wet Dress Rehearsal  Wet Dress Rehearsal

                                         description  \
0  Crew Dragon 1, launched on March 2, will attem...
1  The Soyuz MS-12 spacecraft will dock to the In...
2  NASA astronauts Anne McClain and Nick Hague, o...
3  The Starhopper prototype has successfully perf...
4  The Starhopper prototype has successfully perf...

                      location                  date  news_url  featured
0  International Space Station  2019-03-03T08:30:00Z       NaN     False
1  International Space Station  2019-03-15T01:07:00Z       NaN     False
2  International Space Station  2019-03-22T12:00:00Z       NaN     False
3            Boca Chica, Texas  2019-03-25T22:00:00Z       NaN     False
4            Boca Chica, Texas  2019-03-28T23:00:00Z       NaN     False

In [66]:
import os

# –°–æ–∑–¥–∞–π –ø–∞–ø–∫—É –µ—Å–ª–∏ –Ω–µ—Ç
os.makedirs('data/raw', exist_ok=True)
print("‚úÖ –ü–∞–ø–∫–∞ —Å–æ–∑–¥–∞–Ω–∞")

# –¢–µ–ø–µ—Ä—å –ø—Ä–æ–±—É–π —Å–∫–∞—á–∞—Ç—å
local_path = 'data/raw/space-events-2026-01-10.csv'
s3.download_file(bucket_name, 'space-events-2026-01-10.csv', local_path)

‚úÖ –ü–∞–ø–∫–∞ —Å–æ–∑–¥–∞–Ω–∞

In [73]:
import pandas as pd

# –°–ø–æ—Å–æ–± A: –ò–∑ –ª–æ–∫–∞–ª—å–Ω–æ–≥–æ —Ñ–∞–π–ª–∞ (–∫–æ—Ç–æ—Ä—ã–π —Å–∫–∞—á–∞–ª–∏ –∏–∑ MinIO)
data = pd.read_csv('data/raw/space-events-2026-01-10.csv')
# –ò–ª–∏: data = pd.read_csv('data/raw/from_minio.csv')

# –°–ø–æ—Å–æ–± B: –ï—Å–ª–∏ —Ñ–∞–π–ª–∞ –Ω–µ—Ç, —Å–æ–∑–¥–∞–π –µ–≥–æ
try:
    data = pd.read_csv('data/raw/space-events-2026-01-10.csv')
except FileNotFoundError:
    print("–§–∞–π–ª –Ω–µ –Ω–∞–π–¥–µ–Ω, —Å–æ–∑–¥–∞—é —Ç–µ—Å—Ç–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ...")
    data = pd.DataFrame({
        'user_id': [1, 2, 3, 4, 5],
        'visit_date': ['2022-06-30', '2022-06-30', '2022-07-01', '2022-07-01', '2022-07-02'],
        'page_views': [10, 5, 8, 12, 3],
        'time_spent_seconds': [300, 150, 240, 360, 90],
        'device': ['mobile', 'desktop', 'mobile', 'desktop', 'tablet'],
        'category': ['space_news', 'rocket_launch', 'astronomy', 'conference', 'education']
    })
    data.to_csv('data/raw/2022-06-30-site-visits.csv', index=False)
    print("‚úÖ –¢–µ—Å—Ç–æ–≤—ã–π —Ñ–∞–π–ª —Å–æ–∑–¥–∞–Ω –∫–∞–∫ –≤ –∫—É—Ä—Å–µ")
    data = pd.read_csv('data/raw/2022-06-30-site-visits.csv')

In [74]:
print("="*60)
print("üìä –°–¢–†–£–ö–¢–£–†–ê –î–ê–ù–ù–´–• (–∫–∞–∫ –≤ –∫—É—Ä—Å–µ)")
print("="*60)

# 1. –ü–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏
print("\n1. –ü–ï–†–í–´–ï 5 –°–¢–†–û–ö:")
print(data.head())

# 2. –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ DataFrame (—Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö, –ø—Ä–æ–ø—É—Å–∫–∏)
print("\n2. –ò–ù–§–û–†–ú–ê–¶–ò–Ø –û –î–ê–ù–ù–´–•:")
data.info()

# 3. –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞
print("\n3. –°–¢–ê–¢–ò–°–¢–ò–ß–ï–°–ö–ò–ï –•–ê–†–ê–ö–¢–ï–†–ò–°–¢–ò–ö–ò:")
print(data.describe())

# 4. –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è
print("\n4. –£–ù–ò–ö–ê–õ–¨–ù–´–ï –ó–ù–ê–ß–ï–ù–ò–Ø –í –ö–û–õ–û–ù–ö–ê–•:")
for column in data.columns:
    unique_count = data[column].nunique()
    print(f"{column}: {unique_count} —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π")
    if unique_count <= 10:  # –ü–æ–∫–∞–∂–∏ –µ—Å–ª–∏ –º–∞–ª–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö
        print(f"   {data[column].unique()}")

# 5. –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è
print("\n5. –ü–†–û–ü–£–©–ï–ù–ù–´–ï –ó–ù–ê–ß–ï–ù–ò–Ø:")
print(data.isnull().sum())

============================================================
üìä –°–¢–†–£–ö–¢–£–†–ê –î–ê–ù–ù–´–• (–∫–∞–∫ –≤ –∫—É—Ä—Å–µ)
============================================================

1. –ü–ï–†–í–´–ï 5 –°–¢–†–û–ö:
   event_id                                 name                 type  \
0         2         Crew Dragon docking with ISS              Docking
1         3                  Soyuz MS-12 Docking              Docking
2         4                            US EVA-52                  EVA
3       144  Starship Hopper Wet Dress Rehearsal  Wet Dress Rehearsal
4       145  Starship Hopper Wet Dress Rehearsal  Wet Dress Rehearsal

                                         description  \
0  Crew Dragon 1, launched on March 2, will attem...
1  The Soyuz MS-12 spacecraft will dock to the In...
2  NASA astronauts Anne McClain and Nick Hague, o...
3  The Starhopper prototype has successfully perf...
4  The Starhopper prototype has successfully perf...

                      location                  date  news_url  featured
0  International Space Station  2019-03-03T08:30:00Z       NaN     False
1  International Space Station  2019-03-15T01:07:00Z       NaN     False
2  International Space Station  2019-03-22T12:00:00Z       NaN     False
3            Boca Chica, Texas  2019-03-25T22:00:00Z       NaN     False
4            Boca Chica, Texas  2019-03-28T23:00:00Z       NaN     False

2. –ò–ù–§–û–†–ú–ê–¶–ò–Ø –û –î–ê–ù–ù–´–•:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   event_id     50 non-null     int64
 1   name         50 non-null     object
 2   type         50 non-null     object
 3   description  50 non-null     object
 4   location     50 non-null     object
 5   date         50 non-null     object
 6   news_url     0 non-null      float64
 7   featured     50 non-null     bool
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 2.9+ KB

3. –°–¢–ê–¢–ò–°–¢–ò–ß–ï–°–ö–ò–ï –•–ê–†–ê–ö–¢–ï–†–ò–°–¢–ò–ö–ò:
         event_id  news_url
count   50.000000       0.0
mean    53.700000       NaN
std     53.121443       NaN
min      2.000000       NaN
25%     16.250000       NaN
50%     35.000000       NaN
75%     50.750000       NaN
max    154.000000       NaN

4. –£–ù–ò–ö–ê–õ–¨–ù–´–ï –ó–ù–ê–ß–ï–ù–ò–Ø –í –ö–û–õ–û–ù–ö–ê–•:
event_id: 50 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
name: 42 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
type: 13 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
description: 43 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
location: 15 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
date: 50 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
news_url: 0 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
   [nan]
featured: 1 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
   [False]

5. –ü–†–û–ü–£–©–ï–ù–ù–´–ï –ó–ù–ê–ß–ï–ù–ò–Ø:
event_id        0
name            0
type            0
description     0
location        0
date            0
news_url       50
featured        0
dtype: int64

In [84]:
data.dtypes

event_id         int64
name            object
type            object
description     object
location        object
date            object
news_url       float64
featured          bool
dtype: object